.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.modal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.modal-container {
  position: relative;
  height: 80%;
  width: 90%;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 44px;
  width: 44px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.close:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.show {
  display: flex;
  position: fixed;
}

.image__container {
  position: relative;
  height: 100%;
  width: 100%;
}

.info-modal {
  position: absolute;
  background: #119da4;
  color: white;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url("../icons/info_white.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.info-modal:hover {
  transform: scale(1.2);
}

.show-info {
  height: 100%;
  width: 30%;
  border-radius: 0;
  bottom: 0;
  right: 0;
  background-image: none;
}

.show-info:hover {
  transform: none;
}

.info-modal__container {
  padding: 20px;
  animation-name: info-content;
  animation-duration: 1s;
}

@media screen and (max-width: 1000px) {
  .show-info {
    height: 100%;
    width: 100%;
  }
}

@keyframes info-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
