.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.modal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.modal-container {
  position: relative;
  height: 80%;
  width: 80%;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 44px;
  width: 44px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.close:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

.show {
  display: flex;
}
